.posterImg {
    // padding: 0 10px;
    // height: 605px;
    height: 91vh;
    // width: 352px;
    // border-radius: 28px;
    border-bottom-right-radius:28px;
    border-bottom-left-radius: 28px;
}
// .carousel .slide img {
//     border-radius: 28px;
// }
.carousel * {
    // border-radius: 28px;
    border-bottom-right-radius:28px;
    border-bottom-left-radius: 28px;
    }