.forgetPassDiv {
   
//     -webkit-box-shadow: 0px -4px 9px rgba(28, 55, 197, 0.18);
//   -moz-box-shadow: 0px -4px 9px rgba(28, 55, 197, 0.18);
//   box-shadow: 0px -4px 9px rgba(28, 55, 197, 0.18);
//     border-radius: 40px 40px 0px 0px;
//     backdrop-filter: blur(10px);
//     -webkit-backdrop-filter: blur(10px);
    position: absolute;
    margin: 100px 0px;
    padding: 15px 20px;
    border-bottom: 0px;
    justify-content: center;
    
    width: 100%;

}

.forgetPassDiv h3{
    color: #1C37C5;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
    justify-content: center;
    display: flex;
    // padding-top: 10px;
}

.btnSubmitPass {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin-top: 20px;
    gap: 8px;

    width: 100%;
    height: 48px;


    /* Brand/Blue */
    background: #1C37C5;
    border: 1px solid #1C37C5;
    border-radius: 12px;
    color: #FFFFFF;
    // font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
// .css-dmmspl-MuiFormGroup-root {
//     margin-bottom: 30px !important;
//     }

// .MuiFormControl-root css-13sljp9{
//     margin-bottom: 30px !important;
//  }

 .col-lg-12 {
    margin-bottom: 18px !important;
}

#Name .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root, #Email .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 12px !important;
  }

  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 12px !important;
}