#alert-dialog-description {
    // position: absolute !important;
    display: flex !important;
    justify-content: center !important;
    width: 264px !important;
    height: 44px !important;


    /* Paragraph/Paragraph - 16-24px */
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    align-items: center !important;
    text-align: center !important;
    letter-spacing: -0.03em !important;

    color: #000000 !important;


}

.warningIcon {
    color: #B70000 !important;
    height: 35px !important;
    width: 37px !important;

}

#alert-dialog-title {
    // position: absolute !important;
    display: flex !important;
    justify-content: center !important;

}

.delete {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 8px 76px 8px 73px !important;
    gap: 8px v;

    // position: absolute;
    width: 124px !important;
    height: 40px !important;


    /* New/blue */
    color: white !important;
    background: #1C37C5 !important;
    border-radius: 12px !important;
}

.cancel {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 8px 76px 8px 73px !important;
    gap: 8px v;

    // position: absolute;
    width: 124px !important;
    height: 40px !important;

    color: #1C37C5 !important;
    /* New/blue */
    // background: #1C37C5;
    border-radius: 12px !important;
    border: 1px solid #1C37C5 !important;
}