.PopUpLabel {
    // position: absolute;
    // width: 190px;
    // height: 33px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    /* identical to box height */
    text-align: center;
    letter-spacing: -0.03em;
    font-variant: small-caps;

    color: #1C37C5;
}


.popUp-content{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}